global
    log stdout format raw local0
    maxconn 4096

defaults
    mode tcp
    log global
    option tcplog
    option dontlognull
    timeout connect 5s
    timeout client 30m
    timeout server 30m
    timeout tunnel 1h

frontend telnet_in
    bind *:1980
    default_backend terminals

backend terminals
    balance roundrobin
    option tcp-check
    default-server inter 5s rise 2 fall 3
    server t1 terminal-1:1337 check
    server t2 terminal-2:1337 check
    server t3 terminal-3:1337 check
    server t4 terminal-4:1337 check
    server t5 terminal-5:1337 check
    server t6 terminal-6:1337 check
    server t7 terminal-7:1337 check
    server t8 terminal-8:1337 check
